<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>LoginRegistrationWithDatabase</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>home</servlet-name>
		<servlet-class>com.bridgelabz.controller.HomeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>home</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>loginservlet</servlet-name>
		<servlet-class>com.bridgelabz.controller.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginservlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>loginfilter</filter-name>
		<filter-class>com.bridgelabz.config.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>loginfilter</filter-name>
		<url-pattern>/login</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>registrationservlet</servlet-name>
		<servlet-class>com.bridgelabz.controller.RegistrationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>registrationservlet</servlet-name>
		<url-pattern>/registration</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>logout</servlet-name>
		<servlet-class>com.bridgelabz.controller.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>display</servlet-name>
		<servlet-class>com.bridgelabz.controller.DisplayAllUsersServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>display</servlet-name>
		<url-pattern>/display</url-pattern>
	</servlet-mapping>
</web-app>